---
name: Run Acceptance Test

'on':
  workflow_call:
    inputs:
      suite:
        description: 'Test suite to run (e.g., cks, networking, object-storage)'
        required: true
        type: string

concurrency:
  group: acceptance-test-${{ inputs.suite }}
  cancel-in-progress: false

jobs:
  sweep:
    runs-on: cw
    container: ghcr.io/coreweave/github-actions-images/github-base-runner:1.16.0
    environment: QA
    env:
      COREWEAVE_API_ENDPOINT: ${{ inputs.suite == 'object_storage' && secrets.COREWEAVE_OBJS_API_ENDPOINT || vars.COREWEAVE_API_ENDPOINT }}
      COREWEAVE_API_TOKEN: ${{ inputs.suite == 'object_storage' && secrets.COREWEAVE_OBJS_API_TOKEN || secrets.COREWEAVE_API_TOKEN }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5.6.0
        with:
          go-version-file: 'go.mod'
          cache: false

      - name: Sweep ${{ inputs.suite }} resources
        run: make testacc-sweep SUITES='${{ inputs.suite }}'

  test:
    runs-on: cw
    container: ghcr.io/coreweave/github-actions-images/github-base-runner:1.16.0
    environment: QA
    needs: [sweep]
    env:
      COREWEAVE_API_ENDPOINT: ${{ inputs.suite == 'object_storage' && secrets.COREWEAVE_OBJS_API_ENDPOINT || vars.COREWEAVE_API_ENDPOINT }}
      COREWEAVE_API_TOKEN: ${{ inputs.suite == 'object_storage' && secrets.COREWEAVE_OBJS_API_TOKEN || secrets.COREWEAVE_API_TOKEN }}
      TEST_ACC_SWEEP_ZONE: ${{ inputs.suite == 'object_storage' && 'US-EAST-04A' || 'US-LAB-01A' }}
      TF_IN_AUTOMATION: '1'
    steps:
      - uses: actions/checkout@v4.3.1
      - uses: actions/setup-go@v5.6.0
        with:
          go-version-file: 'go.mod'
          cache: false
      - run: go mod download

      - name: Validate ${{ inputs.suite }} acceptance tests
        run: |
          make testacc SUITES='${{ inputs.suite }}'
