---
name: Run Acceptance Test

'on':
  workflow_call:
    inputs:
      suite:
        description: 'Test suite to run (e.g., cks, networking, object_storage)'
        required: true
        type: string

concurrency:
  group: acceptance-test-${{ inputs.suite }}
  cancel-in-progress: false

jobs:
  acceptance-test:
    runs-on: ubuntu-latest
    environment: Acceptance Testing
    env:
      COREWEAVE_API_ENDPOINT: ${{ vars.COREWEAVE_API_ENDPOINT }}
      COREWEAVE_API_TOKEN: ${{ secrets.COREWEAVE_API_TOKEN }}
      TEST_ACC_SWEEP_ZONE: ${{ inputs.suite == 'object_storage' && 'US-EAST-04A' || 'US-LAB-01A' }}
      TF_IN_AUTOMATION: '1'
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
      - uses: ./.github/actions/setup

      - name: Sweep
        run: make testacc-sweep SUITES='${{ inputs.suite }}'

      - name: Run acceptance tests
        run: |
          make testacc SUITES='${{ inputs.suite }}'
