# Terraform Provider testing workflow.
name: Tests

# This GitHub action runs your tests for each pull request and push.
# Optionally, you can turn it on using a schedule for regular testing.
on:
  pull_request:
    paths-ignore:
      - 'README.md'

# Testing only needs permissions to read the repository contents.
permissions:
  contents: read

jobs:
  # Ensure project builds before running testing matrix
  build:
    uses: ./.github/workflows/build.yml
    with:
      native: true
      snapshot: false

  lint:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
      - uses: actions/setup-go@40f1582b2485089dde7abd97c1529aa768e1baff # v5
        with:
          go-version-file: 'go.mod'
      - name: Run linters
        uses: golangci/golangci-lint-action@4afd733a84b1f43292c63897423277bb7f4313a9 # v8
        with:
          version: v2.4.0

  generate:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
      - uses: actions/setup-go@40f1582b2485089dde7abd97c1529aa768e1baff # v5
        with:
          go-version-file: 'go.mod'
          cache: true
      # We need the latest version of Terraform for our documentation generation to use
      - uses: hashicorp/setup-terraform@b9cd54a3c349d3f38e8881555d616ced269862dd # v3.1.2
        with:
          terraform_wrapper: false
      - run: make generate
      - name: git diff
        run: |
          git diff --compact-summary --exit-code || \
            (echo; echo "Unexpected difference in directories after code generation. Run 'make generate' command and commit."; exit 1)

  snapshot-build:
    uses: ./.github/workflows/build.yml
    with:
      snapshot: true
      native: false

  # Run acceptance tests in a matrix with Terraform CLI versions
  test:
    name: Tests
    needs: build
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
      - uses: actions/setup-go@40f1582b2485089dde7abd97c1529aa768e1baff # v5
        with:
          go-version-file: 'go.mod'
          cache: true
      - run: go mod download
      - name: Check go mod tidy
        run: go mod tidy -diff
      - run: go test -v -cover ./...
        timeout-minutes: 10

  pr-title-format:
    name: Validate PR title
    runs-on: ubuntu-latest
    if: github.event_name == 'pull_request'
    steps:
      - name: Ensure PR title matches conventional commits format
        id: check_pr_title
        env:
          PR_TITLE: ${{ github.event.pull_request.title }}
        run: |
          re_types="build|chore|ci|deps|docs|feat|fix|perf|refactor|revert|style|test"
          re_scope="\([[:alnum:]._-]+\)"
          re_message="([[:alnum:]])+([[:space:][:print:]]*)"
          re_emoji="(\p{Emoji}[[:space:]]{1,2})"
          re_full="^($re_types)($re_scope)?: ($re_emoji)?($re_message)$"
          echo "Checking PR title '${PR_TITLE}' for conventional commits format..."
          set -x
          grep --color=always -P "$re_full" <<< "${PR_TITLE}" || {
            cat <<EOF
          PR title does not match conventional commits format. Please update the PR title to match the format: '<type>(<scope>): <description>'"
          See https://www.conventionalcommits.org/en/v1.0.0/ for more information.
          Test regex: '$re_full'
          EOF
            exit 1
          }
